.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #9a4325;
  }
  
  .message {
    font-size: 2rem;
    color: white;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  